# SentEval data and .pyc files



# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log
*.txt

# data files
data/senteval_data*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# mypy
.mypy_cache/
.DS_Store